.sideBarChat{
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
a{
  text-decoration: none !important;
  color: black;
}
.sideBarChat:hover{
  background-color: #ebebeb;
}

.user__info {
  margin-left: 15px;
 }

.user__info > h2{
 font-size: 16px;
 margin-bottom: 8px;
}